@import "./utils/_vars";
@import "./utils/_mixins";

.flat {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 660px) {
    flex-direction: column;
    justify-content: center;
  }

  &__info-container {
    width: $main-info-width;

    @media screen and (max-width: 500px) {
      width: auto;
    }
  }

  &__heading {
    font-size: 36px;
    line-height: 42px;
  }

  &__subheading {
    color: $subheading-color;
  }

  &__roominess {
    width: 230px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin: 30px 0;
    line-height: 24px;

    @media screen and (max-width: 999px) {
      width: 300px;
    }

    @media screen and (max-width: 660px) {
      width: auto;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    line-height: 19px;
    font-weight: bold;
    @include linkHover($second-color);
  }

  &__book-form {
    border: 1px solid #e1e7ed;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.form {
  width: 330px;
  height: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 660px) {
    margin: 30px auto 0;
  }

  @media screen and (max-width: 400px) {
    width: auto;
  }

  &__input {
    height: 50px;
    margin: 16px 0;
    padding: 14px 17px;
    border: 1px solid #e1e7ed;
    box-sizing: border-box;
    border-radius: 3px;
    color: $main-color;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 19px;
    @include inputFocus($second-color);

    &:nth-of-type(1) {
      margin-top: 32px;
      margin-bottom: 0;
    }
  }

  &__button {
    height: 50px;
    margin-top: 16px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 19px;
    border-radius: 4px;
    color: white;
    background: $second-color;
    cursor: pointer;
    @include buttonFocus($second-color);
  }
}
