@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin inputFocus($_color) {
  outline: none;

  &:focus {
    border: 1px solid $_color;
  }
}

@mixin buttonFocus($_color) {
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px $_color;
  }
}

@mixin linkHover($_bgColor) {
  position: relative;
  outline: none;

  &::after {
    content: "";
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.6s, transform 0.6s;
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 3px;
      display: block;
      height: 2px;
      margin-top: 8px;
      background-color: $_bgColor;
      border-radius: 4px;
      opacity: 1;
      transform: scale(1);
    }
  }
}
