h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

h2 {
  font-size: 28px;
  line-height: 33px; }

.header__top {
  height: 60px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  width: 30px;
  height: 30px;
  background: url("../images/logo.png"); }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 500px) {
    .header__nav {
      width: auto; } }

.header__user-logo {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background: url("../images/user-logo.jpg"); }

.header__bottom {
  height: 464px;
  background: url("../images/header-bottom.jpg"); }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media screen and (max-width: 400px) {
    .nav__list {
      display: none; } }

.nav__item {
  margin-right: 30px; }
  @media screen and (max-width: 500px) {
    .nav__item {
      margin-right: 5px; } }

.nav__link {
  text-decoration: none;
  color: #3d4e61; }

.flat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 660px) {
    .flat {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .flat__info-container {
    width: 490px; }
    @media screen and (max-width: 500px) {
      .flat__info-container {
        width: auto; } }
  .flat__heading {
    font-size: 36px;
    line-height: 42px; }
  .flat__subheading {
    color: #687c94; }
  .flat__roominess {
    width: 230px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flat__text {
    margin: 30px 0;
    line-height: 24px; }
    @media screen and (max-width: 999px) {
      .flat__text {
        width: 300px; } }
    @media screen and (max-width: 660px) {
      .flat__text {
        width: auto; } }
  .flat__link {
    text-decoration: none;
    color: #3d4e61;
    line-height: 19px;
    font-weight: bold; }
  .flat__book-form {
    border: 1px solid #e1e7ed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px; }

.form {
  width: 330px;
  height: 320px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 660px) {
    .form {
      margin: 30px auto 0; } }
  @media screen and (max-width: 400px) {
    .form {
      width: auto; } }
  .form__input {
    height: 50px;
    margin: 16px 0;
    padding: 14px 17px;
    border: 1px solid #e1e7ed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    color: #3d4e61;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 19px; }
    .form__input:nth-of-type(1) {
      margin-top: 32px;
      margin-bottom: 0; }
  .form__button {
    height: 50px;
    margin-top: 16px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 19px;
    border-radius: 4px;
    color: white;
    background: #fd5c63; }

.amenities {
  margin-top: 45px; }
  .amenities__heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px; }
  .amenities__list {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-gap: 13px 20px; }
    @media screen and (max-width: 500px) {
      .amenities__list {
        grid-template-columns: 1fr; } }
  .amenities__link {
    margin-top: 20px;
    text-decoration: none;
    color: #3d4e61;
    line-height: 19px;
    font-weight: bold; }

.reviews {
  max-width: 490px;
  margin-top: 65px; }

.post__top {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.post__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c4c4c4; }

.post__head-container {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.post__text {
  font-size: 16px;
  line-height: 1.5; }

.contact {
  max-width: 490px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contact__heading {
    margin-bottom: 10px; }
  .contact__subheading {
    margin: 0 0 7px;
    font-size: 14px;
    line-height: 16px; }
  .contact__text {
    line-height: 1.5; }
  .contact__button {
    width: 150px;
    height: 50px;
    margin-bottom: 75px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #118488;
    border: 1px solid #118488;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px; }

.footer {
  height: 215px;
  padding: 40px;
  -webkit-box-shadow: 0 -1px 0 #e1e7ed;
          box-shadow: 0 -1px 0 #e1e7ed; }
  .footer__nav-container {
    max-width: 900px;
    margin: 0 auto;
    height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__heading {
    font-weight: bold; }
  .footer__link {
    text-decoration: none;
    color: #3d4e61; }

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #3d4e61; }

.main {
  max-width: 900px;
  padding: 45px;
  margin: 0 auto; }
  @media screen and (max-width: 400px) {
    .main {
      padding: 20px; } }

/*# sourceMappingURL=main.css.map */
